<!DOCTYPE html>
<html lang="ru" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>car performance</title>
    <link rel="stylesheet" href="../Css/car.css">
    <link href="../fontawesome/css/all.css" rel="stylesheet">
</head>

<body>
<header v-cloak>
    <header-component>
    </header-component>
</header>
<main v-cloak>
    <section v-cloak class="back">
        <div class="cars">
            <div class="head_cars">
                <span class="search">Поиск</span>
                <custom-input-component class="red_selected" :option-list="menu" :default-value="dropValue1"></custom-input-component>
                <custom-input-component :type="'brand'" :option-list="allBrands" :default-value="dropValue2"></custom-input-component>
                <custom-input-component :type="'model'" :option-list="models[brand]" :default-value="dropValue3"></custom-input-component>
                <custom-input-component :type="'perform'" :option-list="performance[model]" :default-value="dropValue4"></custom-input-component>
                <a :href="'Car_Specs.html?brand='+brand+'&model='+model+'&perform='+perform" class="find">Найти</a>
            </div>
            <div class="some_cars">
                <div class="some_cars_logo">
                    <h2>Марки машин</h2>
                </div>
                <ul class="some_cars_models">
                    <li v-for="right in popularModels">
                        <a class="style_font">{{right}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
<footer>
    <footer>
        <footer>
            <section class="news">
                <h2 class="center">Новости</h2>
                <div class="news_articles">
                    <div class="large_article">
                        <article class="large_article">
                            <div class="article_image">
                                <img class="img" src="E:/car performance/img/10.jpg" alt="Описание изображения">
                            </div>
                        <h3>Новый электромобиль представлен компанией Tesla</h3>
                        <p>Компания Tesla анонсировала свой новый электрический автомобиль, который обещает революционизировать рынок. Автомобиль оснащен передовыми технологиями и имеет большой запас хода. Более подробные характеристики и цена будут объявлены позже.</p>
                        </article>
                    </div>
                    <div class="large_article">
                        <article class="large_article">
                            <div class="article_image">
                                <img class="img" class="img" src="E:/car performance/img/11.jpg" alt="Описание изображения">
                            </div>
                        <h3>Dodge выпускает новую модель внедорожника</h3>
                        <p>Один из известных производителей автомобилей объявил о выпуске своей новой модели внедорожника. Новый автомобиль обладает превосходной проходимостью и просторным интерьером. Ожидается, что он станет популярным среди любителей активного отдыха.</p>
                    </article>
                    </div>
                    <div class="large_article">
                        <article class="large_article">
                        <div class="article_image">
                            <img class="img" src="E:/car performance/img/12.jpg" alt="Описание изображения">
                        </div>
                        <h3>Представлен китайский концепт-кар с автопилотом</h3>
                        <p>На автомобильной выставке был представлен новый концепт-кар с автопилотом. Этот автомобиль обладает передовыми системами искусственного интеллекта, позволяющими водителю отдыхать во время движения. Компания-разработчик обещает, что автомобиль станет грядущим трендом в автомобильной индустрии.</p>
                    </article>
                    </div>
                    <div class="large_article">
                        <article class="large_article">
                            <div class="article_image">
                                <img class="img" src="E:/car performance/img/13.jpg" alt="Описание изображения">
                            </div>
                        <h3>Автопроизводитель запускает серию электрокроссоверов</h3>
                        <p>Крупный автопроизводитель объявил о запуске новой серии электрических кроссоверов. Эти автомобили сочетают в себе удобство городского автомобиля и возможности внедорожника. Они оснащены передовыми технологиями и имеют большой запас хода, что делает их привлекательными для широкой аудитории.</p>
                    </article>
                    </div>
                    <div class="large_article">
                        <article class="large_article">
                            <div class="article_image">
                                <img class="img" src="E:/car performance/img/14.jpg" alt="Описание изображения">
                            </div>
                        <h3>Новый автомобильный тренд: гибридные спорткары</h3>
                        <p>В автомобильной индустрии наблюдается новый тренд - гибридные спорткары. Эти автомобили сочетают в себе мощность и скорость спорткара с эффективностью и экологичностью гибридной технологии. Большинство известных автопроизводителей уже представили свои модели гибридных спорткаров.</p>
                    </article>
                    </div>
                    <div class="large_article">
                        <article class="large_article">
                            <div class="article_image">
                                <img class="img" src="E:/car performance/img/15.jpg" alt="Описание изображения">
                            </div>
                        <h3>Запущена новая программа обмена старого автомобиля на новый</h3>
                        <p>Крупный автодилер объявил о запуске новой программы обмена старого автомобиля на новый. Владельцы старых автомобилей могут получить существенную скидку при покупке нового автомобиля. Программа призвана стимулировать обновление автопарка и повысить продажи новых автомобилей.</p>
                    </article>
                    </div>
                    <div class="large_article">
                        <article class="large_article">
                            <div class="article_image">
                                <img class="img" src="E:/car performance/img/16.jpg" alt="Описание изображения">
                            </div>
                        <h3>Автопроизводитель вводит новую систему безопасности</h3>
                        <p>Компания-производитель автомобилей анонсировала введение новой системы безопасности, которая поможет снизить количество дорожно-транспортных происшествий. Система оснащена передовыми датчиками и алгоритмами, позволяющими автомобилю предотвращать столкновения и оповещать водителя о возможных опасностях.</p>
                    </article>
                    </div>
                    <div class="large_article">
                        <article class="large_article">
                            <div class="article_image">
                                <img class="img" src="E:/car performance/img/17.jpg" alt="Описание изображения">
                            </div>
                        <h3>Автопроизводитель открывает новый центр разработки</h3>
                        <p>Компания-производитель автомобилей объявила об открытии нового центра разработки, где будут создаваться новые инновационные модели автомобилей. Центр будет оснащен передовым оборудованием и сотрудничать с ведущими экспертами в области автомобильной индустрии.</p>
                    </article>
                    </div>
                </div>
            </section>
            <footer>
    </footer>
</footer>
<script src="../Js/vue.js"></script>
<script src="../Js/components.js"></script>
<script src="../Js/main.js"></script>
</body>
</html>